* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px;
}

#display-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
    color: #ac3600;
}

td {
    color: #555;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
    outline: none;
}

input:focus{
    border-color: #ac3600;
    box-shadow: 0 0 5px rgba(172, 54, 0, 0.2);
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #ac3600;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

button:hover {
    background-color: #FFA500;
}

a {
    color: #ac3600;
    text-decoration: none;
    font-weight: 500;
    margin-top: 20px;
    display: inline-block;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #FFA500;
}

h1 {
    font-size: 2.5rem;
    color: #ac3600;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

button + button {
    margin-left: 10px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}
